{% extends "td/td_base.html" %}

{% block content %}
<div class="container">
    <div class='card'>
        <div class='card-header'>
            This tool looks for Wikidata items that have a page on mdwiki.org but not in another wikipedia language <a
                href='?cat=RTT&depth=1&code=ceb&doit=1'>(Example)</a>.
            <a href='//mdwiki.org/wiki/WikiProjectMed:Translation_task_force' target="_blank"><b>How to use.</b></a>
        </div>
        <div class='card-body mb-0'>
            <div class='mainindex'>
                {% include "td/form.html" %}
                <div class="d-flex justify-content-end">
                    <img class='med-logo-big' src='{{ url_for('static', filename='favicon.svg')}}' decoding='async'
                        alt='Wiki Project Med Foundation logo'>
                </div>
            </div>
        </div>
    </div>
</div>

{# Results section — populated when results_loader_2026() returned a bundle. #}
{% if results %}
<div class="container-fluid">
    {% include "td/results_2026/results_card.html" %}
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}
