{% macro nav_link(icon, text, url, path) %}
{% set _active = (request and request.path and request.path.startswith(path)) or (url | check_active_route) %}
<a class="nav-link {{ 'active fw-bold' if _active }}" href="{{ url }}" {% if _active %}aria-current="page" {% endif %}
    title="{{ text }}">
    <i class="bi {{ icon }}"></i> {{ text }}
</a>
{% endmacro %}

<header>
    <nav class="navbar navbar-expand-lg mb-3 border-bottom bg-body-tertiary shadow">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="{{ url_for('main.index') }}" style="color:#0d6efd;">
                <img class='med-logo' width="40px" height="40px" src='{{ url_for('static', filename='favicon.svg')}}'
                    decoding='async' alt='Wiki Project Med Foundation logo'>
                {% block navbar_brand %}
                <span class='d-none d-sm-inline tool_title' title=''>WikiProjectMed Translation Dashboard</span>
                <span class='d-inline d-sm-none tool_title'>WikiProjectMed TD</span>
                {% endblock %}
            </a>
            <div class="d-flex align-items-center order-lg-last">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="btn btn-outline-secondary btn-sm ms-2" id="darkModeToggle" type="button"
                    aria-label="Toggle dark mode">
                    <i class="bi bi-moon-stars-fill"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto flex-row flex-wrap bd-navbar-nav">
                    {% set nav_item_class = "nav-item col-lg-auto col-md-4 col-sm-6 col-6" %}
                    <li class="{{ nav_item_class }}">
                        {{ nav_link(
                            'bi-bar-chart-line',
                            'Leaderboard',
                            url_for('td.leaderboard.index'),
                            '/Translation_Dashboard/leaderboard',
                            )
                        }}
                    </li>
                    <li class="{{ nav_item_class }}">
                        <a class="nav-link py-2 px-0 px-lg-2" target="_blank" href="/prior">
                            <span class="navtitles">
                                <i class="bi bi-bar-chart me-1"></i> Prior
                            </span>
                        </a>
                    </li>
                    <li class="{{ nav_item_class }}">
                        {{ nav_link(
                            'bi-card-list',
                            'Missing',
                            url_for('td.missing'),
                            '/missing',
                            )
                        }}
                    </li>
                    <li class="{{ nav_item_class }}">
                        {{ nav_link(
                            'bi-list-task',
                            'Fix Refs',
                            url_for('fixrefs.index'),
                            '/fixrefs',
                            )
                        }}
                    </li>
                    <li class="{{ nav_item_class }}">
                        {{ nav_link(
                            'bi-list-task',
                            'Publish Reports',
                            url_for('main.reports'),
                            '/reports',
                            )
                        }}
                    </li>
                    {% if is_admin %}
                    <li class="{{ nav_item_class }}">
                        {{ nav_link(
                            'bi-people-fill',
                            'Coordinator Tools',
                            url_for('admin.index'),
                            '/admin',
                            )
                        }}
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav ms-lg-auto">
                    <!-- <div class="d-flex align-items-center"> <span class="navbar-text"> -->
                    {% if current_user %}
                    {% set profile_href = url_for('td.leaderboard.users', username=current_user.username) %}
                    <li class="nav-item col-lg-auto col-md-4 col-sm-6 col-6">
                        <a href="{{ profile_href }}"
                            class="nav-link py-2 px-0 px-lg-2 {{ profile_href | check_active_route }}">
                            <i class="fas fa-user fa-sm fa-fw mr-2"></i> <span
                                class="navtitles">{{ current_user.username }}</span>
                        </a>
                    </li>
                    <li class="nav-item col-lg-auto col-md-4 col-sm-6 col-6">
                        <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('auth.logout') }}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i> <span
                                class="d-lg-none navtitles">Logout</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item col-lg-auto col-md-4 col-sm-6 col-6">
                        <!-- <button type="submit" form="mainForm" formaction="{{ url_for('auth.login') }}" formmethod="get"
                            formnovalidate class="nav-link py-2 px-0 px-lg-2 btn btn-link">
                            <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2"></i> <span class="navtitles">Login</span>
                        </button> -->
                        <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('auth.login') }}">
                            <i class="bi bi-box-arrow-in-right"></i> <span class="navtitles">Login</span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- </span> </div> -->
                </ul>
            </div>
        </div>
    </nav>
</header>
