
<header>
    <nav class="navbar navbar-expand-lg mb-3 border-bottom bg-body-tertiary shadow">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="{{ url_for('main.index') }}" style="color:#0d6efd;">
                <img class='med-logo' width="40px" height="40px" src='{{ url_for('static', filename='favicon.svg')}}'
                    decoding='async' alt='Wiki Project Med Foundation logo'>
                {% block navbar_brand %}
                <span class='d-none d-sm-inline tool_title' title=''>Translation Dashboard</span>
                <span class='d-inline d-sm-none tool_title'>WikiProjectMed TD</span>
                {% endblock %}
            </a>
            <div class="d-flex align-items-center order-lg-last">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="btn btn-outline-secondary btn-sm ms-2" id="darkModeToggle" type="button"
                    aria-label="Toggle dark mode">
                    <i class="bi bi-moon-stars-fill"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto flex-row flex-wrap bd-navbar-nav">
                    {{ td_navbar.render_main_links(is_admin=is_admin) }}
                    {% set nav_item_class = "nav-item col-lg-auto col-md-4 col-sm-6 col-6" %}
                </ul>
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav ms-lg-auto">
                    {{ td_navbar.render_user_links(current_username=current_username) }}
                </ul>
            </div>
        </div>
    </nav>
</header>
