!_work_files/test_tree.md
!_work_files/tree.md
/_work_files/php_publish
_work_files/*
_work_files/add_all.py
!requirements.txt
**.pyc.**
*.egg
*.egg-info/
*.env
*.isorted
*.json
*.pyc
*.txt
*.zip
*/__pycache__/*
.coverage
.coverage.*
.env
.github/workflows/snorkell-auto-documentation.yml
/.commandcode
/.pytest_cache
/data/logs
/old
/php_admin
/pub_reports
/reports
/src/publish_reports/reports
/src/reports
/src/results_api_php_code
/src/templates/admin/bs4_admin
/src1
/tests2
/tree
app2.py
coverage.xml
/tests/unit/services/new_html_services/wikitext_fixes/fixtures/output
src/main_app/public/routes/td/translate_med.php
.claude/skills/flask-methodview-refactoring/SKILL.md
src/main_app/services/segments_wraper/*.html
rep.py
