!_work_files/test_tree.md
!_work_files/tree.md
/_work_files/php_publish
_work_files/*
_work_files/add_all.py
!requirements.txt
**.pyc.**
*.egg
*.egg-info/
*.env
*.isorted
*.json
*.pyc
*.txt
*.zip
*/__pycache__/*
.coverage
.coverage.*
.env
.github/workflows/snorkell-auto-documentation.yml
/.commandcode
/.pytest_cache
/data/logs
/old
/php_admin
/pub_reports
/reports
/src/app_main
/src/main_app/public/routes/php_new_html
/src/publish_reports/reports
/src/reports
/src/results_api_php_code
/src/templates/admin/bs4_admin
/src1
/tests2
/tree
app2.py
coverage.xml
fix_refs_repo1
fix_refsx
pup2.html
rep.py
src/all_pages_revids.json
src/bots/new_x.php
src/main copy.php
src/main_app/db/services/_main_service.py
src/main_app/public/routes/html_to_segments/*.html
src/publish_reports/**/*.json
src/publish_reports/_index.php
src/publish_reports/db.py
src/publish_reports/index2.php
src/pup2.html
src/test.php
src/tx.php
test.php
tests/**/*.php
tests/unit/public/routes/new_html/domain/fixes/data/output-1.wiki
tests/unit/services/new_html_services/domain/fixes/data/output-1.wiki
