python-dotenv
flask
gunicorn
flask-wtf
flask-limiter
mwoauth
pymysql
requests
requests_oauthlib
cryptography
cachetools
flask-openapi3[swagger,redoc,rapidoc,rapipdf,scalar,elements]
git+https://github.com/MrIbrahem/fix_refs_new_py.git
