git+https://github.com/MrIbrahem/fix_refs_new_py.git

python-dotenv
flask
gunicorn
flask-wtf
flask-limiter
mwoauth
pymysql
colorlog
requests
requests_oauthlib
cryptography
cachetools
validators
sqlalchemy
Flask-SQLAlchemy>=3.1.0
Flask-Migrate>=4.0.0
marshmallow
Flask-Babel
Flask-Admin

# Core dependencies
PyYAML==6.0.1           # For YAML config loading
lxml==5.1.0             # For HTML/XML parsing
pysbd==0.3.4            # Sentence boundary detection
wikitextparser>=1.0.3
