git+https://github.com/MrIbrahem/fix_refs_new_py.git

python-dotenv
flask
gunicorn
flask-wtf
flask-limiter
mwoauth
pymysql
colorlog
requests
requests_oauthlib
cryptography
cachetools
validators
sqlalchemy
# flask-sqlalchemy>=3.1.0
# flask-migrate>=4.0.0
marshmallow
