{% macro select_options(data, selectd) %}
{% for item in data %}
<option value="{{ item }}" {% if item | string == selectd | string %} selected {% endif %}>{{ item }}</option>
{% endfor %}
{% endmacro %}


{% macro pageviews_link(views, lang, target, pupdate) %}
{# Sets the target fallback URL #}
{% set url = "https://pageviews.wmcloud.org/?project=" ~ lang ~ ".wikipedia.org&platform=all-access&agent=all-agents&start=" ~ (pupdate or '2019-01-01') ~ "&end=" ~ yesterday ~ "&redirects=0&pages=" ~ (target | replace(' ', '_') | urlencode) %}
{% if views %}
<a href="{{ url }}" target="_blank">
    {{ "{:,}".format(views) }}
</a>
{% else %}
{# Formats pupdate by removing dashes, or defaults to '20190101' #}
{% set start2 = (pupdate | replace('-', '')) if pupdate else '20190101' %}

{# Constructs the API URL #}
{% set url2 = 'https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/' ~ lang ~ '.wikipedia/all-access/all-agents/' ~ (target | urlencode) ~ '/daily/' ~ start2 ~ '/2030010100' %}

<a target="_blank" name="toget" data-json-url="{{ url2 }}" href="{{ url }}">?</a>
{% endif %}
{% endmacro %}
