{% macro nav_link(icon, text, url, path) %}
{% set _active = request and request.path and request.path.startswith(path) %}
<a class="nav-link {{ 'active fw-bold' if _active }}" href="{{ url }}" {% if _active %}aria-current="page" {% endif %}
    title="{{ text }}">
    <i class="bi {{ icon }}"></i> {{ text }}
</a>
{% endmacro %}

<header>
    <nav class="navbar navbar-expand-lg mb-3 border-bottom bg-body-tertiary shadow">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="{{ url_for('main.index') }}" style="color:#0d6efd;">
                <img class='med-logo' width="40px" height="40px" src='{{ url_for('static', filename='favicon.svg')}}'
                    decoding='async' alt='Wiki Project Med Foundation logo'>
                {% block navbar_brand %}
                WikiProjectMed Tools
                {% endblock %}
            </a>
            <div class="d-flex align-items-center order-lg-last">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="btn btn-outline-secondary btn-sm ms-2" id="darkModeToggle" type="button"
                    aria-label="Toggle dark mode">
                    <i class="bi bi-moon-stars-fill"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto flex-row flex-wrap bd-navbar-nav">
                    {% set nav_item_class = "nav-item col-lg-auto col-md-4 col-sm-6 col-6" %}
                    <li class="{{ nav_item_class }}">
                        <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('td.index') }}" target="_blank">
                            <span class="navtitles">Translation Dashboard</span>
                        </a>
                    </li>
                    <li class="{{ nav_item_class }}">
                        <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('td.leaderboard.index') }}"
                            target="_blank">
                            <span class="navtitles">Leaderboard</span>
                        </a>
                    </li>
                    <li class="{{ nav_item_class }}">
                        <a class="nav-link py-2 px-0 px-lg-2" href="/views">
                            <span class="navtitles">PageViews</span>
                        </a>
                    </li>
                    <li class="{{ nav_item_class }}">
                        <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/MrIbrahem/mdwiki.toolforge.org"
                            target="_blank">
                            <span class="navtitles">Github</span>
                        </a>
                    </li>
                    <li class="{{ nav_item_class }}">
                        <span class="nav-link py-2 px-0 px-lg-2" id="load_time"></span>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav ms-lg-auto">
                    {% if current_username %}
                    {% set profile_href = url_for('td.leaderboard.users', username=current_username) %}
                    <li class="nav-item col-lg-auto col-md-4 col-sm-6 col-6">
                        <a href="{{ profile_href }}"
                            class="nav-link py-2 px-0 px-lg-2 {{ profile_href | check_active_route }}">
                            <i class="fas fa-user fa-sm fa-fw mr-2"></i> <span
                                class="navtitles">{{ current_username }}</span>
                        </a>
                    </li>
                    <li class="nav-item col-lg-auto col-md-4 col-sm-6 col-6">
                        <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('auth.logout') }}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i> <span
                                class="d-lg-none navtitles">Logout</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item col-lg-auto col-md-4 col-sm-6 col-6">
                        <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('auth.login') }}">
                            <i class="bi bi-box-arrow-in-right"></i> <span class="navtitles">Login</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
