{% extends "admins/base1.html" %}

{% block title %}Add translations{% endblock %}

{% block contents %}
<div class="card">
    <select class="catsoptions" data-bs-theme="auto" hidden>
        {% for cat in categories %}
        <option value="{{ cat.category }}">{{ cat.campaign }}</option>
        {% endfor %}
    </select>
    <div class="card-header">
        <h4>Add translations:</h4>
    </div>
    <div class="cardbody p-2">
        <form action="{{ url_for('admin.add.add_translate') }}" method="POST">
            <input name="csrf_token" value="{{ csrf_token() }}" type="hidden" />
            <div class="form-group">
                <table class="table table-striped compact table_responsive"
                    style="font-size:95%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mdwiki Title</th>
                            <th>Campaign</th>
                            <th>Type</th>
                            <th>User</th>
                            <th>Lang.</th>
                            <th>Target</th>
                            <th>Published</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tab_data">
                        <tr id="row_1">
                            <td data-order="1">1</td>
                            <td>
                                <input class="form-control mdtitles" size="15" name="mdtitle" required />
                            </td>
                            <td>
                                <select class="form-select catsoptions" name="cat" data-bs-theme="auto">
                                    {% for cat in categories %}
                                    <option value="{{ cat.category }}">{{ cat.campaign }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="type" class="form-select w-100" data-bs-theme="auto">
                                    <option value="lead">Lead</option>
                                    <option value="all">All</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control td_user_input" size="10" name="user" required />
                            </td>
                            <td>
                                <input class="form-control lang_input" size="2" name="lang" required />
                            </td>
                            <td>
                                <input class="form-control" size="20" name="target" />
                            </td>
                            <td>
                                <input class="form-control" size="10" name="pupdate" placeholder="YYYY-MM-DD" />
                            </td>
                            <td>
                                <div class="">
                                    <button type="button" class="btn btn-danger btn-sm"
                                        onclick="delete_row(1)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group d-flex justify-content-between">
                <button type="submit" class="btn btn-outline-primary mb-10">Save</button>
                <span role="button" id="add_new_row" class="btn btn-outline-primary" onclick="add_new_row()">New
                    row</span>
            </div>
        </form>
    </div>
</div>

<div class="cardbody p-3">
    <div class="container">
        <div id="alert" class="alert alert-warning" role="alert" style="display:none;">
            <i class="bi bi-exclamation-triangle"></i> <span id="alert_text"></span>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-text">Wikipedia URL</span>
        <input class="form-control mdtitles url" size="15" id="url" name="url" value="" />
        <button class="btn btn-outline-primary mb-10" onclick="start_one_url(this)">Search</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/add_by_url.js') }}"></script>
{% endblock %}
