{# % if is_admin % #}
{% extends "base.html" %}

{% block title %}Admins{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-desktop.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-mobile.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid py-1">
    <div class="row content">
        <div class="col-md-2 px-0 colmd2 border">
            {% block sidebar_block %}
            {% include "admins/_sidebar.html" %}
            {% endblock %}
        </div>
        <div class="px-0 col-md-10 colmd10">
            <div class="container-fluid">
                {% block contents %}{% endblock %}
                {% block admin_contents %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{{ super() }}
{% endblock %}
{# % endif % #}
