{% extends "admins/base1.html" %}

{% block title %}Translations Categories{% endblock %}

{% block contents %}

<div class='card'>
    <div class='card-header'>
        <span class="h4">
            <a target="_blank" href="https://www.wikidata.org/wiki/Q107014860#sitelinks-wikipedia">
                <img src="https://www.wikidata.org/static/favicon/wikidata.ico" width="25" alt="Wikidata favicon">
            </a>
            Translations Categories</span>
    </div>
    <div class='card-body'>
        <table class="table table-sm table-striped table_text_left" id="categories_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Language</th>
                    <th>Already created</th>
                    <th>Not Created</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    const langs_url = `{{ url_for('api.get_distinct_langs') }}`;
    const rest_api = `https://www.wikidata.org/w/rest.php/wikibase/v1/entities/items/Q107014860/sitelinks`;

    $('#categories_table').DataTable({
        stateSave: true,
        paging: false,
        info: false,
        searching: false,
        ajax: function(data, callback, settings) {
            Promise.all([
                fetch(langs_url).then(res => res.json()),
                fetch(rest_api).then(res => res.json())
            ]).then(([langsData, restData]) => {
                let langs = langsData.results.map(r => r.lang);
                let categoryCount = 0;
                let fallbackCount = 0;

                let results = langs.map((lang, i) => {
                    let key = lang + "wiki";
                    let row = {
                        lang: lang,
                        category: "",
                        fallback: ""
                    };

                    if (restData[key]) {
                        row.category = `<a target="_blank" href="${restData[key].url}">${restData[key].title}</a>`;
                        categoryCount++;
                    } else {
                        const fallbackUrl = `https://${lang}.wikipedia.org/wiki/Category:Translated_from_MDWiki`;
                        row.fallback = `\u26a0\ufe0f <a target="_blank" href="${fallbackUrl}">Category:Translated from MDWiki</a>`;
                        fallbackCount++;
                    }

                    return row;
                });

                $('#cat_count').text(categoryCount);
                $('#fallback_count').text(fallbackCount);

                callback({
                    data: results
                });
            });
        },
        columns: [{
                data: null,
                title: '#',
                render: function(data, type, row, meta) {
                    return meta.row + 1;
                },
                className: 'dt-center'
            },
            {
                data: 'lang',
                title: 'Language'
            },
            {
                data: 'category',
                title: 'Already created (<span id="cat_count">0</span>)'
            },
            {
                data: 'fallback',
                title: 'Not Created (<span id="fallback_count">0</span>)'
            }
        ]
    });
</script>
{% endblock %}
