{% import 'admin/layout.html' as layout with context -%}

{% extends "admins/base1.html" %}

{% block admin_contents %}

<div class="container-fluid">
    {% include 'admin/base.html' %}
</div>
<div class="container py-1">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            {% block page_title %}
            <h4 class="mb-1">
                {{ layout.menu_icon(admin_view.menu) }}
                {{ admin_view.name }}
            </h4>
            {% endblock  %}
        </div>
        <div class="card-body">
            {% block body %}
            Select DB table from above to manage
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
