{% extends "base.html" %}
{% from "_macros.html" import select_options, pageviews_link %}

{% block content %}
<div class="container-fluid">
    <div class=''>
        <div class='row g-1'>
            <div class='col-lg-4 col-md-12 border_debug border rounded'>
                <div class="d-flex align-items-center justify-content-center" style="height: 100%">
                    <div class="list-group">
                        <h4 class='text-center'>User: {{ username }} <br><a target="_blank"
                                href="http://uz.wikipedia.org/wiki/Category:Translated_from_MDWiki">(cat)</a>
                        </h4>
                        <div class="d-flex align-items-center justify-content-center " style="height: 100%">
                            <div class="text-muted">
                                Articles: <strong>{{ pages | length }}</strong> &nbsp;
                                Words: <strong>{{ words_total }}</strong> &nbsp;
                                Pageviews: <strong><span id="hrefjsontoadd">{{ pageviews_total }}</span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-lg-5 col-md-6'>
                <div class="position-relative py-1 border rounded">
                    <canvas id="chart_69e6e6d5e7ab7" height="100" width="200" class="invert-on-dark"></canvas>
                </div>
            </div>
            <div class='col-lg-3 col-md-6 border_debug'>
                <form method="get" action="{{ url_for('td.leaderboard.users', username=username) }}"
                    class="border rounded" id="form_board">
                    <div class='container mt-3'>
                        <div class='row g-1'>
                            <div class="col-6">
                                <select dir="ltr" id="lang" name="lang" class="form-select" data-bs-theme="auto">
                                    <option value='all'>Lang: All</option>
                                    {% if form_data and form_data.langs %}
                                    {{ select_options(form_data.langs, selected_data.lang) }}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select dir="ltr" id="year" name="year" class="form-select" data-bs-theme="auto">
                                    <option value='all'>Year: All</option>
                                    {% if form_data and form_data.years %}
                                    {{ select_options(form_data.years, selected_data.year) }}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-12 mt-1">
                                <button type="submit" class="btn btn-sm btn-outline-primary w-100">Filter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='card mt-1'>
        <div class='card-body p-1'>
            <table class='table table-striped compact table_text_left table_responsive' id='leadtable'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-priority="1">Lang</th>
                        <th data-priority="2">Title</th>
                        <th>Campaign</th>
                        <th>Words</th>
                        <th data-priority="3">Translated</th>
                        <th>Date</th>
                        <th>Views</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pages %}
                    {% for page in pages %}
                    <tr>
                        <th>
                            {{ loop.index }}
                        </th>
                        <td>
                            <a href="{{ url_for('td.leaderboard.langs', lang_code=page.lang) }}">
                                {{ page.lang }}
                            </a>
                        </td>
                        <td>
                            <a href="https://mdwiki.org/wiki/{{ page.title }}" target="_blank">
                                {{ page.title }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('td.leaderboard.index', camp=page.campaign) }}">
                                {{ page.campaign }}
                            </a>
                        </td>
                        <td>
                            {{ page.word }}
                        </td>
                        <td>
                            <a href="https://{{page.lang}}.wikipedia.org/wiki/{{ page.target }}" target="_blank">
                                {{ page.target }}
                            </a>
                        </td>
                        <td>
                            {{ page.pupdate }}
                        </td>
                        <td>
                            {{ pageviews_link(page.views, page.lang, page.target, page.pupdate, yesterday) }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div> <br>
    <div class='card'>
        <div class='card-body' style='padding:5px 0px 5px 5px;'>
            <h2 class='text-center'>Translations in process</h2>
            <!--
                https://mdwiki.toolforge.org/api.php?get=top_lang_of_users&users%5B0%5D=SeaTub
                https://mdwiki.toolforge.org/api.php?get=pages_by_user_or_lang&user=SeaTub
                https://mdwiki.toolforge.org/api.php?get=in_process&user=SeaTub
                https://mdwiki.toolforge.org/api.php?get=user_status&select=year&user=SeaTub
                https://mdwiki.toolforge.org/api.php?get=user_status&select=lang&user=SeaTub
                https://mdwiki.toolforge.org/api.php?get=user_status&select=campaign&user=SeaTub
                /api/in_process?user=es
             -->
            <table class='table table-striped compact table_text_left table_responsive' id='leadtable2'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-priority="1">Lang</th>
                        <th data-priority="2">Title</th>
                        <th>Campaign</th>
                        <th>Words</th>
                        <th data-priority="3">Translated</th>
                        <th>Start date</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% if chart_data %}
<script>
    render_graph(JSON.parse('{{ chart_data|tojson }}'), 'chart_69e6e6d5e7ab7');
</script>
{% endif %}
{% endblock %}
