# toolforge envvars create FLASK_SECRET_KEY "......"


# python -c "import secrets; print(secrets.token_hex(16))"
FLASK_SECRET_KEY=......

MAIN_DIR=I:/mdwiki/publish_py/data
FIX_REFS_PY_PATH=

TOOL_TOOLSDB_DBNAME=publish_py

TOOL_TOOLSDB_HOST=tools.db.svc.wikimedia.cloud
TOOL_TOOLSDB_USER=root
TOOL_TOOLSDB_PASSWORD=root11

OAUTH_MWURI=https://meta.wikimedia.org/w/index.php
OAUTH_CONSUMER_KEY=your_consumer_key
OAUTH_CONSUMER_SECRET=your_consumer_secret

# Generate URL-safe 32-byte Fernet key:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
OAUTH_ENCRYPTION_KEY=....

AUTH_COOKIE_NAME=uid_enc
AUTH_COOKIE_MAX_AGE=2592000  # 30 days
SESSION_COOKIE_SAMESITE=Lax

SESSION_COOKIE_SECURE=1
SESSION_COOKIE_HTTPONLY=1
USE_MW_OAUTH=1

USER_AGENT="My Tool/1.0 (https://tool.toolforge.org; tools.tool@toolforge.org)"

REQUEST_TOKEN_SESSION_KEY=state
STATE_SESSION_KEY=oauth_state

FLASK_ENV=development
REVIDS_API_URL=http://localhost:9001/api
ALL_PAGES_REVIDS_PATH="I:/mdwiki/mdwiki/public_html/all_pages_revids.json"
